.accordianContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    row-gap: 20px;
}

.header{
    padding: 5px 20px;
}