.accordianContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    row-gap: 20px;
}

.header{
    padding: 5px 20px;
}

.mailSender{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;

    p{
        font-size: 30px;
        font-weight: bold;
    }

    input{
        font-size: 16px;
        padding: 10px 20px;
        width: 300px;
        outline: none;
    }

    button{
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        background-color: lightblue;
        font-weight: 600;
        font-size: 20px;
    }

    h3{
        color: green;
    }
}