.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 62.4px);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1{
        font-size: 50px;
    }
}

.getStartedBtn{
    position: absolute;
    text-decoration: none;
    background-color: lightgreen;
    padding: 20px 30px;
    display: grid;
    place-items: center;
    width: fit-content;
    border-radius: 10px;
    color: green;
    font-size: 18px;
    font-weight: 600;
    right: 200px;
    bottom: 50px;
}