.navButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navButtons{
    border: none;
    padding: 8px 12px;
    width: 100px;
    border-radius: 8px;
    background-color: lightgreen;
    color: green;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}